## 读取csv文件

In [1]:
import pandas as pd

In [3]:
pd.read_csv?
# usecols 指定读取的列名，列表的形式

In [4]:
data = pd.read_csv('stock_day.csv', usecols=['open', 'high', 'close'])
data.head()

             open   high  close
2018-02-27  23.53  25.88  24.16
2018-02-26  22.80  23.78  23.53
2018-02-23  22.88  23.37  22.82
2018-02-22  22.25  22.76  22.28
2018-02-14  21.49  21.99  21.92

## 写入csv文件
- index　是否写入索引
- columns 写入的列名
- mode 写入的模式　'w'：重写 'a'：追加
- sep 间隔是以什么符号
- header：　是否写入列索引

In [13]:
data[:10].to_csv('test.csv', columns=['open'], index=False, mode='a', header=False)