- 缺失值是什么类型的？
- 怎么处理缺失值？几种方法？

In [4]:
%pwd
%cd ..
%cd ..

/home/python/Desktop/codes/test
/home/python/Desktop/codes

In [6]:
cd data/IMDB/

/home/python/Desktop/codes/data/IMDB

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
# 进入数据所在的目录
# 读取数据
movie = pd.read_csv('IMDB-Movie-Data.csv')
movie.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

## 判断有缺失值存在
- isnull()
- notnull()

In [11]:
np.any(pd.isnull(movie))
# 为True说明是有缺失值存在的

True

In [12]:
# 删除缺失值
np.any(pd.isnull(movie.dropna()))

False

In [13]:
movie.count()

Rank                  1000
Title                 1000
Genre                 1000
Description           1000
Director              1000
Actors                1000
Year                  1000
Runtime (Minutes)     1000
Rating                1000
Votes                 1000
Revenue (Millions)     872
Metascore              936
dtype: int64

In [17]:
movie.dropna(axis=0).count()

Rank                  838
Title                 838
Genre                 838
Description           838
Director              838
Actors                838
Year                  838
Runtime (Minutes)     838
Rating                838
Votes                 838
Revenue (Millions)    838
Metascore             838
dtype: int64

In [21]:
index = movie.dropna(axis=1).count().index

In [60]:
# 这是没有空值的列
index.shape

(10,)

In [59]:
movie.columns.shape

(12,)

In [76]:
# 判断整张表是否包含空值
np.any(movie.isnull())

True

In [77]:
# 判断一列是否包含空值
np.any(movie['Rank'].isnull())

False

In [78]:
# 判断那些列出现了空值
for name in movie.columns:
    if np.any(movie[name].isnull()):
        print(name)

Revenue (Millions)
Metascore

### fillna(value, inplace)
- values 要替换成什么值
- inplace　是否在原数据上进行修改

In [80]:
# 把空值替换．
movie['Revenue (Millions)'].fillna(movie['Revenue (Millions)'].mean(), inplace=True)
movie['Metascore'].fillna(movie['Metascore'].mean(), inplace=True)

In [81]:
np.any(movie.isnull())

False

### isnull 和　notnull 只认识np.nan类型．真实的环境下有些是用?这些符号来表示的

In [84]:
cd ..

/home/python/Desktop/codes/data

In [86]:
data = pd.read_csv('breast-cancer-wisconsin.data.csv')

In [87]:
# 
data.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

In [88]:
# 把问号 替换成np.nan类型
data = data.replace(to_replace='?', value=np.nan)

In [89]:
data.count()

1000025    698
5          698
1          698
1.1        698
1.2        698
2          698
1.3        682
3          698
1.4        698
1.5        698
2.1        698
dtype: int64

In [90]:
data.dropna().count()

1000025    682
5          682
1          682
1.1        682
1.2        682
2          682
1.3        682
3          682
1.4        682
1.5        682
2.1        682
dtype: int64

In [91]:
data.replace?