# 什么是时间序列
- 时间序列是一组按照时间发生先后顺序进行排列的数据点序列
## pandas 时间类型
- pd.to_datetime('')       把字符串转换成时间序列

In [11]:
import pandas as pd
import numpy as np

In [3]:
# 最标准的转换
pd.to_datetime('2018-01-01')

Timestamp('2018-01-01 00:00:00')

In [4]:
# 其他转换方式
pd.to_datetime('20180101')

Timestamp('2018-01-01 00:00:00')

In [5]:
pd.to_datetime('01/02/2018')

Timestamp('2018-01-02 00:00:00')

# pandas 时间序列类型

In [6]:
from datetime import datetime

In [7]:
date1 = ['2018-01-02', '2018-01-05', '2018-08-08']
pd.to_datetime(date1)

DatetimeIndex(['2018-01-02', '2018-01-05', '2018-08-08'], dtype='datetime64[ns]', freq=None)

In [8]:
datetime(2018, 3, 1)

datetime.datetime(2018, 3, 1, 0, 0)

In [9]:
date2 = [datetime(2018, 2, 5), datetime(2018, 8, 9), datetime(2018, 8, 19)]

In [10]:
pd.to_datetime(date2)

DatetimeIndex(['2018-02-05', '2018-08-09', '2018-08-19'], dtype='datetime64[ns]', freq=None)

In [12]:
date3 = [datetime(2018, 2, 5), datetime(2018, 8, 9), datetime(2018, 8, 19), np.nan]

In [13]:
pd.to_datetime(date3)

DatetimeIndex(['2018-02-05', '2018-08-09', '2018-08-19', 'NaT'], dtype='datetime64[ns]', freq=None)

- np.nan 类型会显示成NaT类型

In [15]:
pd.to_datetime(date3).values

array(['2018-02-05T00:00:00.000000000', '2018-08-09T00:00:00.000000000',
       '2018-08-19T00:00:00.000000000',                           'NaT'],
      dtype='datetime64[ns]')

In [16]:
series_date = pd.Series(3.0, index=date1)

In [17]:
series_date

2018-01-02    3.0
2018-01-05    3.0
2018-08-08    3.0
dtype: float64

In [18]:
series_date.values

array([3., 3., 3.])

In [21]:
pd.to_datetime(series_date)

2018-01-02   1970-01-01 00:00:00.000000003
2018-01-05   1970-01-01 00:00:00.000000003
2018-08-08   1970-01-01 00:00:00.000000003
dtype: datetime64[ns]

In [22]:
pd.to_datetime(series_date).values

array(['1970-01-01T00:00:00.000000003', '1970-01-01T00:00:00.000000003',
       '1970-01-01T00:00:00.000000003'], dtype='datetime64[ns]')

# pandas生成指定的时间序列
- pd.date_range(start, end,periods,freq,tz)
- periods 产生多长
- freq 频率 D,H,Q等
- tz 时区
- 参数	含义
- D	     每日
- B	     每工作日
- H、T或者min、S	时、分、秒
- M	     每月最后一天
- BM	 每月最后一个工作日
- WOM-1MON, WOM-3FRI	每月第几周的星期几

In [25]:
pd.date_range('2017-01-02', '2017-12-30')

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-07', '2017-01-08', '2017-01-09',
               '2017-01-10', '2017-01-11',
               ...
               '2017-12-21', '2017-12-22', '2017-12-23', '2017-12-24',
               '2017-12-25', '2017-12-26', '2017-12-27', '2017-12-28',
               '2017-12-29', '2017-12-30'],
              dtype='datetime64[ns]', length=363, freq='D')

In [26]:
pd.date_range('2017-01-02', '2017-12-30', freq='B')

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06', '2017-01-09', '2017-01-10', '2017-01-11',
               '2017-01-12', '2017-01-13',
               ...
               '2017-12-18', '2017-12-19', '2017-12-20', '2017-12-21',
               '2017-12-22', '2017-12-25', '2017-12-26', '2017-12-27',
               '2017-12-28', '2017-12-29'],
              dtype='datetime64[ns]', length=260, freq='B')

In [29]:
pd.date_range('2016-01-01', periods=504, freq='B')

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08', '2016-01-11', '2016-01-12',
               '2016-01-13', '2016-01-14',
               ...
               '2017-11-23', '2017-11-24', '2017-11-27', '2017-11-28',
               '2017-11-29', '2017-11-30', '2017-12-01', '2017-12-04',
               '2017-12-05', '2017-12-06'],
              dtype='datetime64[ns]', length=504, freq='B')

In [30]:
pd.date_range('2018-01-01', '2018-08-01', freq='H')

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-07-31 15:00:00', '2018-07-31 16:00:00',
               '2018-07-31 17:00:00', '2018-07-31 18:00:00',
               '2018-07-31 19:00:00', '2018-07-31 20:00:00',
               '2018-07-31 21:00:00', '2018-07-31 22:00:00',
               '2018-07-31 23:00:00', '2018-08-01 00:00:00'],
              dtype='datetime64[ns]', length=5089, freq='H')

In [31]:
pd.date_range('2018-01-01', '2018-08-01', freq='3H')

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 03:00:00',
               '2018-01-01 06:00:00', '2018-01-01 09:00:00',
               '2018-01-01 12:00:00', '2018-01-01 15:00:00',
               '2018-01-01 18:00:00', '2018-01-01 21:00:00',
               '2018-01-02 00:00:00', '2018-01-02 03:00:00',
               ...
               '2018-07-30 21:00:00', '2018-07-31 00:00:00',
               '2018-07-31 03:00:00', '2018-07-31 06:00:00',
               '2018-07-31 09:00:00', '2018-07-31 12:00:00',
               '2018-07-31 15:00:00', '2018-07-31 18:00:00',
               '2018-07-31 21:00:00', '2018-08-01 00:00:00'],
              dtype='datetime64[ns]', length=1697, freq='3H')

In [33]:
pd.date_range('2018-01-01', '2018-08-01', freq='1H30min')

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:30:00',
               '2018-01-01 03:00:00', '2018-01-01 04:30:00',
               '2018-01-01 06:00:00', '2018-01-01 07:30:00',
               '2018-01-01 09:00:00', '2018-01-01 10:30:00',
               '2018-01-01 12:00:00', '2018-01-01 13:30:00',
               ...
               '2018-07-31 10:30:00', '2018-07-31 12:00:00',
               '2018-07-31 13:30:00', '2018-07-31 15:00:00',
               '2018-07-31 16:30:00', '2018-07-31 18:00:00',
               '2018-07-31 19:30:00', '2018-07-31 21:00:00',
               '2018-07-31 22:30:00', '2018-08-01 00:00:00'],
              dtype='datetime64[ns]', length=3393, freq='90T')

In [34]:
pd.date_range('2018-01-01', '2018-08-01', freq='M')

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30',
               '2018-05-31', '2018-06-30', '2018-07-31'],
              dtype='datetime64[ns]', freq='M')

In [35]:
pd.date_range('2018-01-01', '2018-08-01', freq='WOM-3FRI')

DatetimeIndex(['2018-01-19', '2018-02-16', '2018-03-16', '2018-04-20',
               '2018-05-18', '2018-06-15', '2018-07-20'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [37]:
pd.date_range('2018-01-01', '2018-08-01', freq='WOM-1MON')

DatetimeIndex(['2018-01-01', '2018-02-05', '2018-03-05', '2018-04-02',
               '2018-05-07', '2018-06-04', '2018-07-02'],
              dtype='datetime64[ns]', freq='WOM-1MON')